/* General styles */
* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialised;
}

body {
    margin: 0;
    font: 20px/1.5 "Helvetica", Arial, sans-serif;
}

.container {
    position: relative;

    width: 100px;	
	overflow: hidden;	 
}

.slider-container {
    position: absolute;
	width:100%;

}

.slide {
	position: absolute;
	width: 100%;
    height: 100px;
    overflow: hidden;
	padding:0;
    background: #ccc;
	
}

.slider-container.animated {
	-webkit-transition: left .3s ease-in;
	transition: left .3s ease-in;
}



/* Utility */
.simple-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#next{
   position: absolute; z-index: 1; right: 0;
}

#prev{
   position: absolute; z-index: 1; 
}

